.App {
  text-align: center;
  margin-left: 16em;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin-top: 15%;
  margin-bottom: 10%;

}

.enterprise{
  color: #61dafb;
  font-size: xxx-large;
  margin-left: 32%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f9fafd;
  display: flex;
  align-items: flex-start;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lego-reporting-view{
  display: none;
}

embedding-footer-bg{
  display: none;
}

